<div style="margin:40px 0; width:100%;">
  <p style="margin:20px; font-weight: bold;">
    Olá <%= @responsible_name %>, tudo bem?
  </p>

  <p style="max-height: 40%; margin-left: 10px; padding: 0 10px 4px; font-size: 14px;">
    <%= @notification.text %>
  </p>
</div>
